<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Selinieum Automation Suite">	
	
 	<test name="New Project">
		<classes>
			<class name="com.nop.launch.Nop" />
		</classes>
	</test>
	
	<test name="Launching Site Script">
		<classes>
			<class name="com.nop.launch.LaunchSite" />
		</classes>
	</test>
	
	<test name="Product">
		<classes>
			<class name="com.nop.launch.Products"></class>
		</classes>
	</test>
	
	<test name="support">
		<classes>
			<class name="com.nop.launch.SupportAndService"></class>
		</classes>
	</test>
	
	<test name="language">
		<classes>
			<class name="com.nop.launch.Languages"></class>
		</classes>
	</test>
</suite>

 
 
